




/* header */

.admin-header{
  display: flex;
  justify-content: center;
  align-items: center;
   /* background: linear-gradient(to bottom, #FFD700, #228B22); */
   background-color: gray;
}






@media (max-width:332px){


  .admin-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

.size{
  font-size: 5rem;
  background: rgb(175, 175, 201);
  border-radius: 50%;
  
}


/* header */


/* left */


.container{
  /* background: linear-gradient(to bottom, #FFD700, #228B22); */
  background-color: rgb(37, 39, 39);
  /* min-height:100vh; */
}
.container h1 a{
  color: white;
  text-decoration: none;
}
.dashboard-heading {
  text-align: center;
  padding: 20px;
  color: white;
  
}

.container ul li a{
  color: white;
  font-weight: bold;
  text-align: center;
}

.nav-item {
  margin: 10px 0;
  
}

/* Optional: Add styling for links on hover or active */
.nav-link:hover {
  background-color: #f8f9fa;
}

.nav-link.active {
  background-color: #007bff;
  color: #fff;
}



@media (max-width: 768px) {

  .container{
    background-color: rgb(59, 59, 59);
    width: 100vw;
  }

}



.btn{
  
  font-weight:bold;
}

.logout a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  /* background-color: rgb(12, 12, 12); */
  
}

/* left */


/* signup form  */




